.v-expansion-panel-text__wrapper {
    padding: 5px !important;
}

.v-expansion-panel--active>.v-expansion-panel-title {
    min-height: 30px !important;
}

.v-input__prepend {
    margin-inline-end: 0px !important;
}

.v-input__append {
    margin-inline-start: 0px !important;
}

.v-selection-control__input>.v-icon {
    opacity: 100% !important;
}

.v-col {
    padding: 0px !important
}

html {
    overflow-y: hidden
}
